{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="inputEmail" class="sr-only">Email</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        #}

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>


    <button class="btn btn-lg btn-primary" type="submit">
        Sign in
    </button>
</form>
    <body class="login">
    <img src="https://lamodeestchiant.netlify.com/mec.775f42c5.png" alt="" class="mec hidden-xs">
    <div class="wrapper">
        <section class="sidebar sidebar--login">
            <p>
                ... est un espace où vous pouvez soulager toutes vos frustrations et profiter du chagrin des autres.
            </p>
        </section>
        <section class="main">
            <main>
            </main>
        </section>

        <div class="popup">
            <div class="popup__content popup__content--login">
                <h2 class="popup__headline">Connectes toi !!!!!</h2>
                <p class="popup__text">
                    Conectez toi pour profiter des tout le functionalite du site.
                    <span class="popup__text popup__text--error"></span>
                </p>
                <form action="" method="get" class="form form--login" autocomplete="off">
                    <div class="form__line">
                        <label for="username">Enter ton Username : </label>
                        <input type="text" name="username" id="username" required>
                    </div>
                    <div class="form__line">
                        <label for="password">Enter ton mot des password : </label>
                        <input type="password" name="password" id="password" required>
                    </div>
                    <div class="form__button">
                        <input type="submit" value="Send">
                    </div>
                </form>
                <a href="signup.html" class="textLink">Pas encore un compte?</a>
            </div>
        </div>
    </div>
    <script src="js/script.js"></script>
    </body>
{% endblock %}
